body{
    font-family: "Montserrat";
}

.mt_100{
    margin-top: 100px;
}


.mt_60{
    margin-top: 60px;
}

.index_table td{
    border-style : hidden!important;
}


table, td, th, tr {
    border: 1px solid #aaa;
}



table {
    border-collapse: collapse;
    width: 100%;
    /*font-size: 26px;*/
}



.mynav{
    background-color: #92A8D1;
    padding-top: 10px;
}

.font_ubuntu{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
    color: white;
}

a.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

a:link{
    color: white;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.asp{
        padding-left: 10px;
        color: white;
        font-weight: bold;
        font-family: ui-serif;
}

.mainbody{
    padding-top: 35px;
}



.starhrmark {
  margin:64px auto;
  width:400px;
  max-width: 100%;
  position:relative;
}

.starhrmarkline {
    height:20px;
    overflow:hidden;
}

.starhrmarkline:after {
      content:"→";;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px #4B0082;
      display:block; margin:-25px auto 0;
}

.starhrmark span {
    width:50px; height:50px;
    position:absolute;
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
   box-shadow:0 2px 4px #4B0082;
    background:#fff;
}
.starhrmark i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed orange;
    text-align:center;
    line-height:40px;
    font-style:normal;
     color:red;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    background-color: #92A8D1;
    text-align: center;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 575px), screen and (max-device-width: 575px) {
    .general_footer{
        position: relative;
        padding-top: 24px;
        height: 70px;
        bottom: 0;
    }

    .index_footer{
        padding-top: 24px;
        height: 70px;
        bottom: 0;
    }
    }